<h1><%= @course.name %></h1>
<% @course.weeks.each do |week| %>
  <h3><%= link_to week.name, course_week_path(@course, week)%></h3>
<% end %>


<p><%= link_to "Add a Week", new_course_week_path(@course) %></p>

<p><%= link_to "Edit", edit_course_path(@course) %></p>
<p><%= link_to "Delete", course_path(@course), :data => {:confirm => "You sure?", :method => "delete"} %></p>



<%= link_to "Return to Courses", courses_path %>
